body
{
  margin: 0px; 
  padding: 0px;
  background: #f3f4f4;
}

#top
{
  background: #c0d1da url('../images/banner_bg.jpg') repeat-x top left; 
  height: 215px; 
  width: 100%;
}

#menu
{
  height: 45px; 
  color: white; 
  line-height: 45px; 
  text-align: right; 
  font-family: Helvetica, Arial, sans-serif;
  padding-right: 30px;
}

#menu a
{
  color: white;
  padding: 5px 10px;
  border-left: 1px solid #444444;
  text-decoration: none; 
}

#menu a:hover
{
  text-decoration: overline;
  background-color: #222233; 
  color: #c0d1da; 
}

#menu a:first-child
{
  border: none;
}

#banner
{
  background: transparent url('../images/banner.jpg') no-repeat center -45px; 
  height: 170px; 
  width: 100%; 
  margin: 0px auto;
}

#logo
{
  margin: 0px auto; 
  display: block; 
  width: 279px; 
  height: 153px; 
  top: 40px;
  background: transparent url('../images/aura_logo.png') no-repeat center center;
}

#logo:hover
{
  background: transparent url('../images/aura_logo_hover.png') no-repeat center -20px;
}

#content
{
  background: white;
  min-height: 400px;
}

#footer
{
  min-height: 70px;
  text-align: right;
}

h2, h2, h3
{
  color: #129deb;
  border-bottom: 1px solid #e9e9e9;
}

code
{
  background-color: black;
  padding: 2px 5px;
  color: #c0d1da;
}


