body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.hero-logo {
    padding-top: 10px;
    text-align: center;
}

#packages .version {
    color: gray;
}

#packages th {
    text-align: left;
}

#packages tr {
    border-bottom: 1px solid #ddd;
}

#packages tbody tr:hover {
    background-color: #eee;
}

#packages td, th {
    vertical-align: top;
    padding: 10px;
}

.contributors-list {
    list-style-type: none !important;
}

.contributor_thumbnail {
    float: left;
    margin-left: -60px;
}

.contributor {
    line-height: 25px;
    overflow: hidden;
    padding: 10px 10px 10px 70px;
    height: 50px;
    background:#F8F8F8;
    margin-bottom: 10px;
    border-bottom: 1px dotted #C5C5C5;
}

#posts-collate h3 {
    margin-left: 12px;
}

#posts-collate li {
    margin-left: 24px;
}

nav table {
    width: 100%;
}

nav.navheader td.curr,
nav.navheader th.curr {
    text-align: center;
}

nav.navheader td.prev,
nav.navheader th.prev {
    width: 30%;
    text-align: left;
}

nav.navheader td.parent,
nav.navheader th.parent {
    width: 40%;
    text-align: center;
}

nav.navheader td.next,
nav.navheader th.next {
    text-align: right;
    width: 30%;
}

nav.navfooter td.prev,
nav.navfooter th.prev {
    width: 30%;
    text-align: left;
}

nav.navfooter td.parent,
nav.navfooter th.parent {
    width: 40%;
    text-align: center;
}

nav.navfooter td.next,
nav.navfooter th.next {
    text-align: right;
    width: 30%;
}

