html, body, p, div {
    margin:0;
    padding:0;
}
body { 
    line-height:1;
    background:#e3ded8;
    font-family:Helvetica;
}
#content {
    overflow:hidden;
    border-radius:20px;
    max-width:800px;
    padding:0 15px 15px;
    margin:15px auto;
    background:#fff;
}
.navigation {
    float: left;
    width: 200px;
    margin: 20px 20px 0px 0px;
}
h1, h2, h3, h4, h5 {
    font-family:Georgia;
    color:#003663;
}
p {
    padding:0 0 10px 0;
    line-height: 20px;
    letter-spacing:1px;
    color:#343434;
}
li {
    margin:10px 0 10px;
}
pre {
    background-color: #EEE;
    border: 1px solid #DDD;
    border-radius:10px;
    color: #444;
    padding: 10px 0px 0px 10px;
}
code {
    color: #444 !important;
    padding: 0px 0.2em !important;
    line-height: 20px;
}
