<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
{% include JB/setup %}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
        <meta name="viewport" content="width=device-width">

        <title>{% if page.title %}{{ page.title }}{% else %}Aura for PHP{% endif %}</title>

        <link rel="stylesheet" href="/css/spacelab.css">
        <style>
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
        </style>
        <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/pygments.css" >

        <script src="/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
        <script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.9.1.js"><\/script>')</script>
    </head>

    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <!-- This code is taken from http://twitter.github.com/bootstrap/examples/hero.html -->

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="/">Aura for PHP</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li {% if page.active == 'home'         %}class="active"{% endif %}><a href="/">Home</a></li>
                            <li {% if page.active == 'about'        %}class="active"{% endif %}><a href="/about">About</a></li>
                            <li class="{% if page.active == 'packages'  %}active {% endif %}dropdown">
                                <a href="/packages" class="dropdown-toggle" data-toggle="dropdown">Packages (v1) <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/packages">Package Overview</a></li>
                                    <li class="divider"></li>
                                    <li><a href="/packages/Aura.Autoload">Autoload</a></li>
                                    <li><a href="/packages/Aura.Cli">Cli</a></li>
                                    <li><a href="/packages/Aura.Di">Di</a></li>
                                    <li><a href="/packages/Aura.Filter">Filter</a></li>
                                    <li><a href="/packages/Aura.Http">Http</a></li>
                                    <li><a href="/packages/Aura.Input">Input</a></li>
                                    <li><a href="/packages/Aura.Intl">Intl</a></li>
                                    <li><a href="/packages/Aura.Marshal">Marshal</a></li>
                                    <li><a href="/packages/Aura.Router">Router</a></li>
                                    <li><a href="/packages/Aura.Session">Session</a></li>
                                    <li><a href="/packages/Aura.Signal">Signal</a></li>
                                    <li><a href="/packages/Aura.Sql">Sql</a></li>
                                    <li><a href="/packages/Aura.Uri">Uri</a></li>
                                    <li><a href="/packages/Aura.View">View</a></li>
                                    <li><a href="/packages/Aura.Web">Web</a></li>
                                </ul>
                            </li>
                            <li class="{% if page.active == 'framework'  %}active {% endif %}dropdown">
                                <a href="/framework" class="dropdown-toggle" data-toggle="dropdown">Framework<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/framework">Framework</a></li>
                                    <li><a href="/framework/1.0">Version 1</a></li>
                                    <li><a href="/framework/2.0">Version 2</a></li>
                                </ul>
                            </li>
                            <li {% if page.active == 'manuals'      %}class="active"{% endif %}><a href="/manuals">Manuals (v1 & v2)</a></li>
                            <li {% if page.active == 'packages-v2'  %}class="active"{% endif %}><a href="/packages/v2">Packages (v2)</a></li>
                            <li {% if page.active == 'blog'         %}class="active"{% endif %}><a href="/blog">Blog</a></li>
                            <li {% if page.active == 'community'    %}class="active"{% endif %}><a href="/community">Community</a></li>
                            <li {% if page.active == 'contributing' %}class="active"{% endif %}><a href="/contributing">Contributing</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <div class="container">
            {{ content }}
            <hr>
            <footer>
                <p>&copy; 2011-2014, Aura for PHP</p>
                <!-- Start of StatCounter Code for Default Guide -->
                <script type="text/javascript">
                var sc_project=9117595;
                var sc_invisible=0;
                var sc_security="b58cd28d";
                var scJsHost = (("https:" == document.location.protocol) ?
                "https://secure." : "http://www.");
                document.write("<sc"+"ript type='text/javascript' src='" +
                scJsHost+
                "statcounter.com/counter/counter.js'></"+"script>");
                </script>
                <noscript><div class="statcounter"><a title="site stats"
                href="http://statcounter.com/free-web-stats/"
                target="_blank"><img class="statcounter"
                src="http://c.statcounter.com/9117595/0/b58cd28d/0/"
                alt="site stats"></a></div></noscript>
                <!-- End of StatCounter Code for Default Guide -->
            </footer>
        </div> <!-- /container -->
        <div class="pull-right">
          <span id="top-link-block" class="hidden">
            <a href="#top" class="well well-sm" onclick="$('html,body').animate({scrollTop:0},'slow');return false;">
                <i class="glyphicon glyphicon-chevron-up"></i> Back to Top
            </a>
          </span>
        </div>
        <script src="/js/vendor/bootstrap.min.js"></script>
        <script src="/js/plugins.js"></script>
        <script src="/js/main.js"></script>
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));

            // Only enable if the document has a long scroll bar
            // Note the window height + offset
            if ( ($(window).height() + 100) < $(document).height() ) {
                $('#top-link-block').removeClass('hidden').affix({
                    // how far to scroll down before link "slides" into view
                    offset: {top:100}
                });
            }
        </script>
    </body>
</html>
